body#spring {
    background: url(../img/spring/bg_spring.png) top center no-repeat;
}
body#summer {
    background: url(../img/summer/bg_summer.png) top center no-repeat;
}
body#autumn {
    background: url(../img/autumn/bg_autumn.png) top center no-repeat;
}
body#winter {
    background: url(../img/winter/bg_winter.png) top center no-repeat;
}

.wrapper {
	display: block;
	overflow: hidden;
	width: 100%;
	max-width: 1140px;
	padding: 0;
	margin: 0 auto;
	position: relative;
}

.wrapper_spwide {
	display: block;
	overflow: inherit;
	width: 100%;
	max-width: 1140px;
	padding: 0;
	margin: 0 auto;
	position: relative;
}

.clear {
	clear: both;
}

.wrapper .wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
	clear: both;
}


.wrapper_smart {
	display: block;
	overflow: hidden;
	width: 100%;
	max-width: 640px;
	padding: 0;
	margin: 0 auto;
	position: relative;
}


img {
	border: none;
}

article {
	width:100% ;
}
section {
	padding:0;
	margin:0;
	display:block;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.cont_area {
	padding: 0 0 30px 0;
}

.sp {
	display: none;
}

.sp_none {
	display: block;
}

.stxt_p {
	font-size:0.9em;
	padding:0.5em 0;
	margin:0;
}


.ssearch_p {
	font-size:0.9em;
	padding:0 0 0.5em 0;
	margin:0;
	text-align:left;
	clear:both;
	display:block;
	overflow:hidden;
}

.ssearch_p a{
	text-decoration:none;
}

.sort {
	float:left;
}

.sright{
	float:right;
	display:block;
}

.mt10{
	margin-top:10px;
}

.mt20{
	margin-top:20px;
}

.mb10{
	margin-bottom:10px;
}

.mb20{
	margin-bottom:20px;
}
body#spring .icon_txt,
body#summer .icon_txt,
body#autumn .icon_txt,
body#winter .icon_txt{
	font-size: 11px;
	line-height: 1;
	padding: 6px 10px;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	position: absolute;
	left: 0;
	top: 20px;
	z-index: 1000;
}
body#spring .icon_txt {
	background-color: #912264;
}
body#summer .icon_txt {
	background-color: #CC2B2B;
}
body#autumn .icon_txt {
	background-color: #D75730;
}
body#winter .icon_txt {
	background-color: #D75730;
}
body#spring .icon_txt2,
body#summer .icon_txt2,
body#autumn .icon_txt2,
body#winter .icon_txt2{
	min-width: 5em;
	padding: 5px 8px;
	position: static;
	display: inline-block;
	vertical-align: text-bottom;
	font-size: 12px;
	line-height: 1;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	color: #FFF;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
body#spring .icon_txt2 {
	background-color: #912264;
}
body#summer .icon_txt2 {
	background-color: #CC2B2B;
}
body#autumn .icon_txt2 {
	background-color: #D75730;
}
body#winter .icon_txt2 {
	background-color: #D75730;
}

body#spring .icon_txt_name,
body#summer .icon_txt_name,
body#autumn .icon_txt_name,
body#winter .icon_txt_name{
	min-width: 5em;
	padding: 5px 8px;
	margin: 0 0 0.5em 0;
	position: static;
	display: inline-block;
	vertical-align: text-bottom;
	box-sizing: border-box;
	font-size: 12px;
	line-height: 1;
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background-color: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
body#spring .icon_txt_name {
	color: #912264;
	border: 1px solid #912264;
}
body#summer .icon_txt_name {
	color: #CC2B2B;
	border: 1px solid #CC2B2B;
}
body#autumn .icon_txt_name {
	color: #D75730;
	border: 1px solid #D75730;
}
body#winter .icon_txt_name {
	color: #D75730;
	border: 1px solid #D75730;
}


body .icon_new {
	font-size: 11px;
	line-height: 1;
	padding: 2px 8px;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	margin: 0 5px 0 0;
}

body .detail_overview .icon_new {
	padding: 6px 10px;
	margin: 0 5px 12px 0;
	display: inline-block;
}

body#spring .icon_new {
	background-color: #912264;
}

body#summer .icon_new {
	background-color: #CC2B2B;
}

body#autumn .icon_new {
	background-color: #D75730;
}

body#winter .icon_new {
	background-color: #D75730;
}




.atttxt {
	color:#DC2615;
}

p.atttxt {
	margin:0 0 1em 0;
}

.nomargin {
	margin:0 !important;
}

.btxt {
	font-weight:bold;
}

body#spring .color_txt{
	color:#912264;
}
body#summer .color_txt{
	color:#CC2B2B;
}
body#autumn .color_txt{
	color:#D75730;
}
body#winter .color_txt{
	color:#D75730;
}
.w100 {
	width:100% !important;
}

/*--------------------------------------------------------------
大分類タイトル
--------------------------------------------------------------*/

#ttl_mds {
	text-align: center;
	height: 100%;
}

#ttl_mds img.img_temple {
	width: 40px;
}

#ttl_mds img.img_stay {
	width: 40px;
}

#ttl_mds img.img_event {
	width: 40px;
}

#ttl_mds img.img_gourmet {
	width: 40px;
}

#ttl_mds img.img_tour {
	width: 40px;
}

#ttl_mds img.img_course {
	width: 40px;
}

#ttl_mds img.img_page {
	width: 40px;
}



#ttl_mds h2 {
	font-size: 2em;
	margin-top: 5px;
	padding: 0 0 0 10px;
	display: inline-block;
	vertical-align: -6px;
	text-align:left;
}

#ttl_mds .ttl_imgbg {
	width:100%;
	margin-bottom:30px;
}
#ttl_mds .pc {
	display:block;
}
#ttl_mds .sp {
	display:none;
}


/*--------------------------------------------------------------
横並びカラム
--------------------------------------------------------------*/

.list_col {
	margin: 0 0 20px 0;
}

.list_col p {
	margin: 0 0 0.5em 0;
}

.col1, .col2, .col3, .col4 {
	display: block;
	position: relative;
	height: auto;
	float: left;
	margin-bottom: 0;
}

.col3,
.slides .col3 {
	width: 28.3%;
	margin-right: 7.5% ;
	text-align: left;
}

.col3:nth-of-type(3n+3),
.slides .col3:nth-of-type(3n+3) {
	margin-right: 0;
}

#maincontainer ul.slides li.col3 {
	width: 28.3%;
	padding: 0 1%;
	margin: 0 7.5% 30px 0;
	box-sizing:border-box;
}

#maincontainer ul.slides li.col3:nth-of-type(3n+3) {
	margin-right: 0;
}

#maincontainer ul.slides li.item p.event_mds {
	font-size:1.2em;
}



.col4,
.slides .col4 {
	width: 22%;
	margin-right: 4%;
	text-align: left;
}

.col4:nth-of-type(4n+4) {
	margin-right: 0;
}

.list_col .col4 {
	padding-bottom: 30px;
}

.slides .col4 .note{
	margin:0;
}

.col3 iframe {
	width:100%;
	height:auto;
}


.col_four {
	width: 22%;
	margin: 0 3% 0 0;
	text-align: left;
	padding-bottom: 30px;
}




/*--------------------------------------------------------------
パンくずリスト
--------------------------------------------------------------*/

.breadcrumb_list {
	text-align: left;
	font-size: 0.8em;
}

.breadcrumb_list a {
	text-decoration: none;
}

/*------------------------------------------------------------------------
ボタン
------------------------------------------------------------------------*/

a.btn_detail,
a.btn_detail_map {
	position: relative;
	color: #fff !important;
	margin: 0.5em 0.5em 0 0;
	padding: 0.6em 1.5em 0.6em 2em;
	font-size: 1em;
	text-align: left;
	font-weight: normal;
	float: none;
	display: inline-block;
	text-decoration: none;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjYjA3OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5Njc0MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(204,176,121,1) 0%, rgba(150,116,57,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(204,176,121,1) 0%,rgba(150,116,57,1) 100%);
	background: linear-gradient(to right,  rgba(204,176,121,1) 0%,rgba(150,116,57,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccb079', endColorstr='#967439',GradientType=1 );
	box-sizing: border-box;
}

a.btn_detail_l {
	position: relative;
	color: #fff !important;
	margin: 0.5em 0.5em 0 0;
	padding: 0.6em 1.5em 0.6em 1.5em;
	font-size: 1.4em;
	text-align: left;
	font-weight: normal;
	float: none;
	display: inline-block;
	text-decoration: none;
	line-height: 1.2;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjYjA3OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5Njc0MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(204,176,121,1) 0%, rgba(150,116,57,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(204,176,121,1) 0%,rgba(150,116,57,1) 100%);
	background: linear-gradient(to right,  rgba(204,176,121,1) 0%,rgba(150,116,57,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccb079', endColorstr='#967439',GradientType=1 );
}


a.btn_detail_o {
	position: relative;
	width:100%;
	color: #fff !important;
	margin: 0;
	padding: 0.6em 0;
	font-size: 1.4em;
	text-align: center;
	font-weight: normal;
	display: block;
	text-decoration: none;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjYjA3OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5Njc0MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(204,176,121,1) 0%, rgba(150,116,57,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(204,176,121,1) 0%,rgba(150,116,57,1) 100%);
	background: linear-gradient(to right,  rgba(204,176,121,1) 0%,rgba(150,116,57,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccb079', endColorstr='#967439',GradientType=1 );
}

a.btn_detail:before,
a.btn_detail_map:before,
a.btn_detail_o:before {
	position: absolute;
	top: 0.5em;
	left: 0;
	width: 2em;
	height: 1.75em;
	background:url(../img/common/ico_btn_arrow.png) center center no-repeat;
	content: "";
}

a.btn_detail_l:before {
	position: absolute;
	top: 0.5em;
	left: 0;
	width: 2em;
	height: 1.25em;
	background:url(../img/common/ico_btn_arrow.png) center center no-repeat;
	content: "";
}

.btn_detail_w {
	position: relative;
	color: #000 !important;
	margin: 0.5em 0.5em 0 0;
	padding: 0.6em 1.5em 0.6em 2em;
	font-size: 1em;
	text-align: center;
	font-weight: normal;
	float: none;
	display: inline-block;
	text-decoration: none;
	background: rgb(255,255,255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVjZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(238,236,236,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(238,236,236,1) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(238,236,236,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeecec',GradientType=1 );
	border: 1px solid #ccc;
}

body#spring #search_list .btn_detail_w {
	position: relative;
	margin: 0;
	padding: 0 0 0 1.25em;
	color:rgba(145,34,100,1) !important;
	border: none;
	background:none;
}
body#summer #search_list .btn_detail_w {
	position: relative;
	margin: 0;
	padding: 0 0 0 1.25em;
	color:rgba(204,43,43,1) !important;
	border: none;
	background:none;
}
body#autumn #search_list .btn_detail_w {
	position: relative;
	margin: 0;
	padding: 0 0 0 1.25em;
	color:rgba(215,87,48,1) !important;
	border: none;
	background:none;
}
body#winter #search_list .btn_detail_w {
	position: relative;
	margin: 0;
	padding: 0 0 0 1.25em;
	color:rgba(215,87,48,1) !important;
	border: none;
	background:none;
}

body#spring #search_list a.btn_detail_w:before {
	position: absolute;
	top: -0.1em;
	left: -0.5em;
	width: 2em;
	height: 1.75em;
	background:url(../img/common/icon_btn_arrow01.png) center center no-repeat;
	content: "";
}
body#summer #search_list a.btn_detail_w:before {
	position: absolute;
	top: -0.1em;
	left: -0.5em;
	width: 2em;
	height: 1.75em;
	background:url(../img/common/icon_btn_arrow01_summer.png) center center no-repeat;
	content: "";
}
body#autumn #search_list a.btn_detail_w:before {
	position: absolute;
	top: -0.1em;
	left: -0.5em;
	width: 2em;
	height: 1.75em;
	background:url(../img/common/icon_btn_arrow01_autumn.png) center center no-repeat;
	content: "";
}
body#winter #search_list a.btn_detail_w:before {
	position: absolute;
	top: -0.1em;
	left: -0.5em;
	width: 2em;
	height: 1.75em;
	background:url(../img/common/icon_btn_arrow01_winter.png) center center no-repeat;
	content: "";
}

body#spring a.btn_detail_w:before,
body#spring #search_list .item a.btn_detail_w:before {
	position: absolute;
	top: 0.5em;
	left: 0;
	width: 2em;
	height: 1.75em;
	background:url(../img/common/icon_btn_arrow01.png) center center no-repeat;
	content: "";
}
body#summer a.btn_detail_w:before,
body#summer #search_list .item a.btn_detail_w:before {
	position: absolute;
	top: 0.5em;
	left: 0;
	width: 2em;
	height: 1.75em;
	background:url(../img/common/icon_btn_arrow01_summer.png) center center no-repeat;
	content: "";
}
body#autumn a.btn_detail_w:before,
body#autumn #search_list .item a.btn_detail_w:before {
	position: absolute;
	top: 0.5em;
	left: 0;
	width: 2em;
	height: 1.75em;
	background:url(../img/common/icon_btn_arrow01_autumn.png) center center no-repeat;
	content: "";
}
body#winter a.btn_detail_w:before,
body#winter #search_list .item a.btn_detail_w:before {
	position: absolute;
	top: 0.5em;
	left: 0;
	width: 2em;
	height: 1.75em;
	background:url(../img/common/icon_btn_arrow01_winter.png) center center no-repeat;
	content: "";
}

body#spring .btn_link_p ,
body#summer .btn_link_p,
body#autumn .btn_link_p,
body#winter .btn_link_p{
	width: 43%;
	position: relative;
	color: #fff !important;
	margin: 0.5em 0.5em 0 0;
	padding: 0.8em 1.5em 0.8em 2em;
	font-size: 1em;
	text-align: left;
	font-weight: normal;
	float: none;
	display: inline-block;
	text-decoration: none;
	border: 1px solid #ccc;
	box-sizing: border-box;
/*	white-space: nowrap;*/
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
body#spring .btn_link_p {
	background: url(../img/common/ico_btn_arrow.png), linear-gradient(to right, rgba(196, 61, 148, 1), rgba(144, 34, 100, 1));
	background-repeat: no-repeat;
	background-position: 3% center;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc43d94', endColorstr='#ff902264', GradientType=1);
}
body#summer .btn_link_p {
	background: url(../img/common/ico_btn_arrow.png), linear-gradient(to right, rgba(224,63,63,1), rgba(204,43,43,1));
	background-repeat: no-repeat;
	background-position: 3% center;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e03f3f', endColorstr='#cc2b2b',GradientType=1 );
}
body#autumn .btn_link_p {
	background: url(../img/common/ico_btn_arrow.png), linear-gradient(to right, rgba(192,78,15,1), rgba(145,63,8,1));
	background-repeat: no-repeat;
	background-position: 3% center;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C04E0F', endColorstr='#913F08',GradientType=1 );
}
body#winter .btn_link_p {
	background: url(../img/common/ico_btn_arrow.png), linear-gradient(to right, rgba(135,90,164,1), rgba(190,144,215,1));
	background-repeat: no-repeat;
	background-position: 3% center;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BE90D7', endColorstr='#875AA4',GradientType=1 );
}

body#spring .btn_link_w,
body#summer .btn_link_w,
body#autumn .btn_link_w,
body#winter .btn_link_w{
	width: 43%;
	position: relative;
	color: #000 !important;
	margin: 0.5em 0.5em 0 0;
	padding: 0.8em 1.5em 0.8em 2em;
	font-size: 1em;
	text-align: left;
	font-weight: normal;
	float: none;
	display: inline-block;
	text-decoration: none;
	border: 1px solid #ccc;
	box-sizing: border-box;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
body#spring .btn_link_w {
	background: url(../img/common/icon_btn_arrow01.png), linear-gradient(to right, rgba(255, 255, 255, 1), rgba(238, 236, 236, 1));
	background-repeat: no-repeat;
	background-position: 3% center;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeecec', GradientType=1);
}
body#summer .btn_link_w {
	background: url(../img/common/icon_btn_arrow01_summer.png), linear-gradient(to right, rgba(255, 255, 255, 1), rgba(238, 236, 236, 1));
	background-repeat: no-repeat;
	background-position: 3% center;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeecec', GradientType=1);
}
body#autumn .btn_link_w {
	background: url(../img/common/icon_btn_arrow01_autumn.png), linear-gradient(to right, rgba(255, 255, 255, 1), rgba(238, 236, 236, 1));
	background-repeat: no-repeat;
	background-position: 3% center;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeecec', GradientType=1);
}
body#winter .btn_link_w {
	background: url(../img/common/icon_btn_arrow01_winter.png), linear-gradient(to right, rgba(255, 255, 255, 1), rgba(238, 236, 236, 1));
	background-repeat: no-repeat;
	background-position: 3% center;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeecec', GradientType=1);
}


.ie9 a.btn_detail, .ie9 a.btn_detail_map, .ie9 a.btn_detail_w, .ie9 a.btn_link_w, .ie9 a.btn_link_p, .ie9 a.btn_detail_l, .ie9 a.btn_detail_o {
	font-weight: normal;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}

@media all and (-ms-high-contrast: none) {
	a.btn_detail, a.btn_detail_map, a.btn_detail_w, a.btn_link_w, a.btn_link_p, a.btn_link_l {
		font-weight: normal;
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
}

a.btn_detail:hover,
a.btn_detail_map:hover {
	color: #fff !important;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjYjA3OSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk2NzQzOSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(left,  rgba(204,176,121,0.5) 0%, rgba(150,116,57,0.5) 100%);
	background: -webkit-linear-gradient(left,  rgba(204,176,121,0.5) 0%,rgba(150,116,57,0.5) 100%);
	background: linear-gradient(to right,  rgba(204,176,121,0.5) 0%,rgba(150,116,57,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ccb079', endColorstr='#80967439',GradientType=1 );

}

a.btn_detail_l:hover {
	color: #fff !important;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjYjA3OSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk2NzQzOSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(left,  rgba(204,176,121,0.5) 0%, rgba(150,116,57,0.5) 100%);
	background: -webkit-linear-gradient(left,  rgba(204,176,121,0.5) 0%,rgba(150,116,57,0.5) 100%);
	background: linear-gradient(to right,  rgba(204,176,121,0.5) 0%,rgba(150,116,57,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ccb079', endColorstr='#80967439',GradientType=1 );
}

a.btn_detail_o:hover {
	color: #fff !important;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjYjA3OSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk2NzQzOSIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(left,  rgba(204,176,121,0.5) 0%, rgba(150,116,57,0.5) 100%);
	background: -webkit-linear-gradient(left,  rgba(204,176,121,0.5) 0%,rgba(150,116,57,0.5) 100%);
	background: linear-gradient(to right,  rgba(204,176,121,0.5) 0%,rgba(150,116,57,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ccb079', endColorstr='#80967439',GradientType=1 );
}

a.btn_detail_w:hover {
	color: rgba(0, 0, 0, 0.5) !important;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWNlYyIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(left,  rgba(255,255,255,0.5) 0%, rgba(238,236,236,0.5) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0.5) 0%,rgba(238,236,236,0.5) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0.5) 0%,rgba(238,236,236,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80eeecec',GradientType=1 );
}

body#spring #search_list .btn_detail_w:hover {
	color:rgba(145,34,100,0.5) !important;
}
body#summer #search_list .btn_detail_w:hover {
	color:rgba(204,43,43,0.5) !important;
}
body#autumn #search_list .btn_detail_w:hover {
	color:rgba(215,87,48,0.5) !important;
}
body#winter #search_list .btn_detail_w:hover {
	color:rgba(215,87,48,0.5) !important;
}

body#spring a.btn_link_w:hover {
	color: rgba(0, 0, 0, 0.5) !important;
	background: url(../img/common/icon_btn_arrow01.png), linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(238, 236, 236, 0.5));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#80eeecec', GradientType=1);
	background-repeat: no-repeat;
	background-position: 3% center;
}
body#summer a.btn_link_w:hover {
	color: rgba(0, 0, 0, 0.5) !important;
	background: url(../img/common/icon_btn_arrow01_summer.png), linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(238, 236, 236, 0.5));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#80eeecec', GradientType=1);
	background-repeat: no-repeat;
	background-position: 3% center;
}
body#autumn a.btn_link_w:hover {
	color: rgba(0, 0, 0, 0.5) !important;
	background: url(../img/common/icon_btn_arrow01_autumn.png), linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(238, 236, 236, 0.5));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#80eeecec', GradientType=1);
	background-repeat: no-repeat;
	background-position: 3% center;
}
body#winter a.btn_link_w:hover {
	color: rgba(0, 0, 0, 0.5) !important;
	background: url(../img/common/icon_btn_arrow01_winter.png), linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(238, 236, 236, 0.5));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#80eeecec', GradientType=1);
	background-repeat: no-repeat;
	background-position: 3% center;
}


a.btn_link_p:hover {
	color: rgba(255, 255, 255, 0.5) !important;
	background: url(../img/common/ico_btn_arrow.png), linear-gradient(to right, rgba(196, 61, 148, 0.5), rgba(144, 34, 100, 0.5));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80c43d94', endColorstr='#80902264', GradientType=1);
	background-repeat: no-repeat;
	background-position: 3% center;
}

a.btn_detail_map {
	width: 100%;
	padding: 0.8em 0 0.8em 2em;
}

body#spring p.class_mds{
	font-size:1.2em;
	color:#912264;
	margin: 0 0 10px 0;
}
body#summer p.class_mds{
	font-size:1.2em;
	color:#CC2B2B;
	margin: 0 0 10px 0;
}
body#autumn p.class_mds{
	font-size:1.2em;
	color:#D75730;
	margin: 0 0 10px 0;
}
body#winter p.class_mds{
	font-size:1.2em;
	color:#D75730;
	margin: 0 0 10px 0;
}


.wrapper_smart #loginbox .btnlogin a {
	margin: 0 auto;
	padding: 15px 0px 0px 0px;
	width: 164px;
	height: 43px;
	font-size: 1.6em;
	display:block;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	font-size:20px;
	text-align: center;
	border-radius: 5px;
	background: rgb(0,184,238);

	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYjhlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwOGNkNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDVhYTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

	background: -moz-linear-gradient(top, rgba(0,184,238,1) 0%, rgba(0,140,214,1) 50%, rgba(0,90,160,1) 100%);

	background: -webkit-linear-gradient(top, rgba(0,184,238,1) 0%,rgba(0,140,214,1) 50%,rgba(0,90,160,1) 100%);

	background: linear-gradient(to bottom, rgba(0,184,238,1) 0%,rgba(0,140,214,1) 50%,rgba(0,90,160,1) 100%);

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b8ee', endColorstr='#005aa0',GradientType=0 );
}
.wrapper_smart #loginbox .btnlogin a:hover {
	background: rgb(0,184,238);
	color:#fff;
}











/*------------------------------------------------------------------------
リスト型リンク
------------------------------------------------------------------------*/


ul.links {
	padding: 0;
	margin: 0 0 1em 0;
	list-style: none;
	text-align: left;
	font-size: 1.3em;
}
ul.links li {
	display: block;
	padding: 0;
	margin: 0 0 0.5em 0;
}
ul.links li > a {
	padding: 0 0 0 10px;
	margin: 0;
	display: inline-block;
	text-decoration: none;
	position: relative;
	color:rgba(0,0,0,1);
}

ul.links li > a:hover {
	color:rgba(0,0,0,0.5);
}

ul.links li > a:before {
	position: absolute;
	top: 0.5em;
	left: 0;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 3px solid transparent;
	border-left: 4px solid #7F5B43;
	border-bottom: 3px solid transparent;
	content: "";
}

/*--------------------------------------------------------------
新レイアウト分　▼
--------------------------------------------------------------*/


.icon_area {
	font-size: 11px;
	line-height: 1;
	display: inline-block;
	padding: 5px 8px;
	margin: 0 0 0.2em;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	background-color: #999;
}







/*--------------------------------------------------------------
ログイン
--------------------------------------------------------------*/

body#spring .wrapper_smart #loginbox,
body#summer .wrapper_smart #loginbox,
body#autumn .wrapper_smart #loginbox,
body#winter .wrapper_smart #loginbox{
	background:#fff;
	text-align:left;
	margin:0px auto 15px;
	padding: 30px 0 0;
	overflow: hidden;
	border-radius: 20px;
}
body#spring .wrapper_smart #loginbox{
	border: 2px solid #912264;
}
body#summer .wrapper_smart #loginbox{
	border: 2px solid #CC2B2B;
}
body#autumn .wrapper_smart #loginbox{
	border: 2px solid #D75730;
}
body#winter .wrapper_smart #loginbox{
	border: 2px solid #D75730;
}

.wrapper_smart #loginbox .type01 {
	max-width: 420px;
	margin:0 auto;
	padding: 0 15px;
}

.wrapper_smart #loginbox .type01 dl {
	width:100%;
	padding:0;
	overflow:hidden;
}

.wrapper_smart #loginbox .type01 dt {
	width: 40%;
	margin: 6px 0 0;
	padding:0 0 0 12px;
	float:left;
	font-size: 1.4em;
	font-weight: bold;
	position: relative;
	box-sizing: border-box;
}

body#spring .wrapper_smart #loginbox .type01 dt:before,
body#summer .wrapper_smart #loginbox .type01 dt:before,
body#autumn .wrapper_smart #loginbox .type01 dt:before,
body#winter .wrapper_smart #loginbox .type01 dt:before{
	position: absolute;
	top: 18%;
	left: 0;
	width: 0;
	height: 0;
	vertical-align: top;
	content: "";
}
body#spring .wrapper_smart #loginbox .type01 dt:before {
	border-top: 18px solid #912264;
	border-right: 4px solid #912264;
}
body#summer .wrapper_smart #loginbox .type01 dt:before {
	border-top: 18px solid #CC2B2B;
	border-right: 4px solid #CC2B2B;
}
body#autumn .wrapper_smart #loginbox .type01 dt:before {
	border-top: 18px solid #D75730;
	border-right: 4px solid #D75730;
}
body#winter .wrapper_smart #loginbox .type01 dt:before {
	border-top: 18px solid #875AA4;
	border-right: 4px solid #875AA4;
}


.wrapper_smart #loginbox .type01 dd {
	width: 60%;
	margin:0 0 20px;
	float:left;
	box-sizing: border-box;
}

.wrapper_smart #loginbox .type01 dd input{
	width: 100%;
	font-size:1.2em;
	padding:5px;
	border:1px solid #B5B1A0;
	box-sizing: border-box;
}


/*--------------------------------------------------------------
temple 詳細
--------------------------------------------------------------*/

.txt_attribute {
	margin-bottom: 0.5em;
	text-align: right;
	font-size: 0.85em;
	word-break: keep-all;
}

.btn_area_foot {
	padding: 30px 0 0;
	border-top: 1px solid #ddd;
}

.btn_area_foot p{
	margin:0 0 0.5em 0;
}

/*--------------------------------------------------------------
施設一覧系
--------------------------------------------------------------*/

.icon_area_red {
	font-size: 11px;
	line-height: 1;
	display: inline-block;
	padding: 5px 8px;
	margin: 0 0 0.2em;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	background-color: rgba(194,91,99,1) ;
}

.icon_area_blue {
	font-size: 11px;
	line-height: 1;
	display: inline-block;
	padding: 5px 8px;
	margin: 0 0 0.2em;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	background-color: rgba(20,89,141,1) ;
}

.icon_area_green {
	font-size: 11px;
	line-height: 1;
	display: inline-block;
	padding: 5px 8px;
	margin: 0 0 0.2em;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	background-color: rgba(116,163,84,1) ;
}

.icon_area_yellow {
	font-size: 11px;
	line-height: 1;
	display: inline-block;
	padding: 5px 8px;
	margin: 0 0 0.2em;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	background-color: rgba(201,158,68,1) ;
}




/*--------------------------------------------------------------
ページトップへのボタン
--------------------------------------------------------------*/
a.btn_pagetop {
	display: block;
	padding: 40px 0 0 0;
	width: 40px;
	height: 0;
	color: #FFF;
	font-size: 10px;
	line-height: 1.2;
	overflow: hidden;
	text-align: center;
	margin: 0;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 5000;
	background: url(../img/common/btn_top.png) no-repeat 0 0;
	background-size: 40px;
}

/*--------------------------------------------------------------
グラデーション背景エリア
--------------------------------------------------------------*/


#gradbody {
	width: 100%;
	background-color: #fff;
	margin-bottom: 45px;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
	background: rgb(255,255,255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZjJmMmYyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 40%, rgba(242,242,242,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 40%,rgba(242,242,242,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 40%,rgba(242,242,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 );
}



#gradbody .cont_grad {
	padding: 30px 5% 0;
	overflow: hidden;
}

img.grad_main {
	width:100%;
}

.leadtxt {
	margin:0;
	font-size:1.2em;
	font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "HG明朝B", "ＭＳ 明朝", "MS PMincho", serif;
}

#gradbody .cont_grad dl {
	margin: 0;
	padding: 0 0 30px;
	overflow: hidden;
	clear: both;
}

#gradbody .cont_grad dt {
	width: 30%;
	float: left;
	padding: 0 2% 0 0;
	margin: 0;
}

#gradbody .cont_grad dt h3 {
	padding: 0 0 0 0.8em;
	margin: 0 0 0.5em 0;
	font-size: 1.6em;
	line-height: 1.2;
	position: relative;
}


body#spring #gradbody .cont_grad dt h3:before,
body#summer #gradbody .cont_grad dt h3:before,
body#autumn #gradbody .cont_grad dt h3:before,
body#winter #gradbody .cont_grad dt h3:before{
	content: "";
	margin: 0 8px 0 0;
	display: inline-block;
	height: 24px;
	width: 6px;
	position: absolute;
	top: 0;
	left: 0;
}
body#spring #gradbody .cont_grad dt h3:before {
	background: linear-gradient(to right, rgba(172, 94, 140, 1), rgba(142, 34, 99, 1));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffac5e8c', endColorstr='#ff8e2263', GradientType=1);
}
body#summer #gradbody .cont_grad dt h3:before {
	background: rgb(224,63,63);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwM2YzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzJiMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(224,63,63,1) 0%, rgba(204,43,43,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(224,63,63,1) 0%,rgba(204,43,43,1) 100%);
	background: linear-gradient(to bottom,  rgba(224,63,63,1) 0%,rgba(204,43,43,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e03f3f', endColorstr='#cc2b2b',GradientType=0 );
}
body#autumn #gradbody .cont_grad dt h3:before {
	background: rgb(215,87,48);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwM2YzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzJiMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(192,78,15,1) 0%, rgb(145,63,8,1) 100%);
	background: -webkit-linear-gradient(top,  rgb(192,78,15,1) 0%,rgb(145,63,8,1) 100%);
	background: linear-gradient(to bottom,  rgb(192,78,15,1) 0%,rgb(145,63,8,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C04E0F', endColorstr='#913F08',GradientType=0 );
}
body#winter #gradbody .cont_grad dt h3:before {
	background: rgb(135,90,164);
	background: -moz-linear-gradient(top,  rgb(135,90,164,1) 0%, rgb(90,61,109,1) 100%);
	background: -webkit-linear-gradient(top,  rgb(135,90,164,1) 0%,rgb(90,61,109,1) 100%);
	background: linear-gradient(to bottom,  rgb(135,90,164,1) 0%,rgb(90,61,109,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#875AA4', endColorstr='#5A3D6D',GradientType=0 );
}



#gradbody .cont_grad dd {
	width: 68%;
	float: left;
	padding: 0;
	margin: 0;
}

#gradbody .cont_grad dd.comment {
	width: 42%;
}

#gradbody .cont_grad dd.btn {
	width: 26%;

}


#gradbody .cont_grad dd ul li {
	display: block;
	padding: 0 0 0 120px;
	margin: 0 0 0.5em 0;
	position: relative;
}

body#spring #gradbody .cont_grad dd ul li:before,
body#summer .cont_grad dd ul li:before,
body#autumn .cont_grad dd ul li:befor,
body#winter .cont_grad dd ul li:befor{
	position: absolute;
	top: 0.5em;
	left: 0;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	content: "";
}
body#spring #gradbody .cont_grad dd ul li:before {
	border-left: 4px solid #912264;
}
body#summer .cont_grad dd ul li:before {
	border-left: 4px solid #CC2B2B;
}
body#autumn .cont_grad dd ul li:before {
	border-left: 4px solid #D75730;
}
body#winter .cont_grad dd ul li:before {
	border-left: 4px solid #875AA4;
}

#gradbody .cont_grad dd ul li .newsdate {
	position: absolute;
	top: 0;
	left: 15px;
}

#gradbody .cont_grad dd ul li > a {
	padding: 0;
	margin: 0;
	display: inline-block;
	text-decoration: none;
	color:rgba(0,0,0,1);
}

#gradbody .cont_grad dd ul li > a:hover {
	color:rgba(0,0,0,0.5);
}

/*--------------------------------------------------------------
白背景エリア
--------------------------------------------------------------*/

#whitebody {
	width: 100%;
	background-color: #fff;
	margin-bottom: 30px;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}



#whitebody .cont_white {
	padding: 30px 5%;
	overflow: hidden;
}

/*--------------------------------------------------------------
背景なし見出し内容エリア
--------------------------------------------------------------*/

.slim_cont {
	width:74%;
	margin:0 auto;
}

.mds_noline {
	padding: 0 0 0 0.8em;
	margin: 0 0 0.5em 0;
	font-size: 1.6em;
	line-height: 1.2;
	position: relative;
}

body#spring .mds_noline:before,
body#summer .mds_noline:before,
body#autumn .mds_noline:before,
body#winter .mds_noline:before{
	content: "";
	margin: 0 8px 0 0;
	display: inline-block;
	height: 24px;
	width: 6px;
	position: absolute;
	top: 0;
	left: 0;
}

body#spring .mds_noline:before {
	background: linear-gradient(to right, rgba(172, 94, 140, 1), rgba(142, 34, 99, 1));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffac5e8c', endColorstr='#ff8e2263', GradientType=1);
}
body#summer .mds_noline:before {
	background: linear-gradient(to right, rgba(204,43,43,1), rgba(224,63,63,1));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffac5e8c', endColorstr='#ff8e2263', GradientType=1);
}
body#autumn .mds_noline:before {
	background: linear-gradient(to right, rgb(192,78,15,1), rgb(145,63,8,1));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C04E0F', endColorstr='#913F08', GradientType=1);
}
body#winter .mds_noline:before {
	background: linear-gradient(to right, rgb(135,90,164,1), rgb(90,61,109,1));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#875AA4', endColorstr='#5A3D6D', GradientType=1);
}



/*--------------------------------------------------------------
縁をむすぶ
--------------------------------------------------------------*/


.navigator_cont .left_cont {
	width:35%;
}
.navigator_cont .left_cont img {
	width:100%;
}
.navigator_cont .right_cont {
	width:65%;
	float:left;
}


.enishi_area_cont .left_cont {
	width:14.5%;
	padding:0;
}
.enishi_area_cont .left_cont img {
	width:100%;
}
.enishi_area_cont .right_cont {
	width:83.5%;
	padding:0;
}


.ikomaeria .color_txt,
.ikomaeria .class_mds{
	color:#E73062 !important;
	margin:0 0 10px 0;
}
.naraeria .color_txt,
.naraeria .class_mds{
	color:#2380C4 !important;
	margin:0 0 10px 0;
}
.yamanobeeria .color_txt,
.yamanobeeria .class_mds{
	color:#F39800 !important;
	margin:0 0 10px 0;
}
.yosinoji .color_txt,
.yosinoji .class_mds{
	color:#0BA95F !important;
	margin:0 0 10px 0;
}


.enmusubi_map {
	width:100%;
	max-width:830px;
	padding:0 !important;
	margin:0 auto;
	box-sizing: border-box;
}

.enmusubi_map img{
	width:100%;
	height:auto;
}


.one_area {
	width: 25%;
	float: left;
	box-sizing: border-box;
}

.one_area ol{
	counter-reset:number;
	list-style:none;
	margin:0;
	padding:0;
}

.one_area ol li{
	padding: 0 0 1em 3em;
	position: relative;
}
.one_area ol li:before{
	content: counter(number);
	counter-increment: number;
	position: absolute;
	left: 0;
	top: -3px;
	padding: 0.25em 0.5em;
	font-weight: bold;
	color:#fff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}


#yellow_area ol{
	counter-reset:number 7;
}

#red_area ol{
	counter-reset:number 22;
}

#blue_area ol{
	counter-reset:number 28;
}


#green_area ol li:before{
	background: #0BA95F;
}

#yellow_area ol li:before{
	background: #F89901;
}

#red_area ol li:before{
	background: #E52F5F;
}

#blue_area ol li:before{
	background: #2180C4;
}


#green_area .color_txt {
	color:#0BA95F;
	margin:0 0 0.5em 0;
}
#yellow_area .color_txt {
	color:#F89901;
	margin:0 0 0.5em 0;
}
#red_area .color_txt {
	color:#E52F5F;
	margin:0 0 0.5em 0;
}
#blue_area .color_txt {
	color:#2180C4;
	margin:0 0 0.5em 0;
}

.mds_spot {
	margin: 0 0 1em 0;
}

.mds_spot span {
	font-weight:bold;
	font-size:1.1em;
}



/*--------------------------------------------------------------
2カラムシャドーボックス
--------------------------------------------------------------*/


.wrapper_spwide .half_body {
	width:48.2%;
	padding:1em 0 0;
	margin:0 3.6% 3% 0;
	float: left;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}

.half_body:nth-child(even) {
	margin:0 0 3% 0;
}

.half_body .leadtxt{
	padding-bottom:1em;
}

body#spring .num_mds {
	margin:0.5em 0 0 0;
	font-size: 1.4em;
	background:rgba(201,99,99,0.3);
}
body#summer .num_mds {
	margin:0.5em 0 0 0;
	font-size: 1.4em;
	background:rgba(204,43,43,0.3);
}
body#autumn .num_mds {
	margin:0.5em 0 0 0;
	font-size: 1.4em;
	background:rgba(215,87,48,0.3);
}
body#winter .num_mds {
	margin:0.5em 0 0 0;
	font-size: 1.4em;
	background:rgba(135,90,164,0.3);
}


body#spring .num_mds .num_txt,
body#summer .num_mds .num_txt,
body#autumn .num_mds .num_txt,
body#winter .num_mds .num_txt{
	padding: 0 0.5em;
	margin: 0 0.5em 0 -0.35em;
	display:inline-block;
	color:#fff;
	font-size: 1.4em;
}
body#spring .num_mds .num_txt {
	background:#902263;
}
body#summer .num_mds .num_txt {
	background:#CC2B2B;
}
body#autumn .num_mds .num_txt {
	background:#D75730;
}
body#winter .num_mds .num_txt {
	background:#5A3D6D;
}


.half_body .half_contents {
	padding:1em 2em 2em;
}



/*--------------------------------------------------------------
フォーム系
--------------------------------------------------------------*/

.icon_must {
	width: 56px;
	color: rgba(255,255,255,1);
	background:rgba(200,0,0,1);
	text-align:center;
	font-size: 11px;
	margin: 0 0 0 0.5em;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	display: inline-block;
}

#loginbox .errortxt {
	color:#E61E19;
	padding:0 0 20px;
}

#loginbox .errortxt p {
	margin:0;
}



/*--------------------------------------------------------------
四季のおすすめスポット
--------------------------------------------------------------*/

#season_spring {
	padding: 2em 0 0 0;
	text-align:center;
	background:url(../img/season/bg_spring.png) center 0 no-repeat;
}
#season_summer {
	padding: 2em 0 0 0;
	text-align:center;
	background:url(../img/season/bg_summer.png) center 0 no-repeat;
}
#season_autumn {
	padding: 2em 0 0 0;
	text-align:center;
	background:url(../img/season/bg_autumn.png) center 0 no-repeat;
}
#season_winter {
	padding: 2em 0 0 0;
	text-align:center;
	background:url(../img/season/bg_winter.png) center 0 no-repeat;
}


.mds_middle {
	margin: 1.5em 0;
	font-size: 2em;
	text-align: center;
	display:inline-block;
	position: relative;
}

#season_spring .mds_middle {
	color:#912264;
}
#season_spring .mds_middle:before {
	position: absolute;
	top: 50%;
	left:-4em;
	width: 3em;
	height: 0;
	vertical-align: top;
	border-top: 1px solid #912264;
	content: "";
}
#season_spring .mds_middle:after {
	position: absolute;
	top: 50%;
	right:-4em;
	width: 3em;
	height: 0;
	vertical-align: top;
	border-top: 1px solid #912264;
	content: "";
}


#season_summer .mds_middle {
	color:#CC2B2B;
}
#season_summer .mds_middle:before {
	position: absolute;
	top: 50%;
	left:-4em;
	width: 3em;
	height: 0;
	vertical-align: top;
	border-top: 1px solid #CC2B2B;
	content: "";
}
#season_summer .mds_middle:after {
	position: absolute;
	top: 50%;
	right:-4em;
	width: 3em;
	height: 0;
	vertical-align: top;
	border-top: 1px solid #CC2B2B;
	content: "";
}


#season_autumn .mds_middle {
	color:#7F5B43;
}
#season_autumn .mds_middle:before {
	position: absolute;
	top: 50%;
	left:-4em;
	width: 3em;
	height: 0;
	vertical-align: top;
	border-top: 1px solid #7F5B43;
	content: "";
}
#season_autumn .mds_middle:after {
	position: absolute;
	top: 50%;
	right:-4em;
	width: 3em;
	height: 0;
	vertical-align: top;
	border-top: 1px solid #7F5B43;
	content: "";
}


#season_winter .mds_middle {
	color:#42477C;
}
#season_winter .mds_middle:before {
	position: absolute;
	top: 50%;
	left:-4em;
	width: 3em;
	height: 0;
	vertical-align: top;
	border-top: 1px solid #42477C;
	content: "";
}
#season_winter .mds_middle:after {
	position: absolute;
	top: 50%;
	right:-4em;
	width: 3em;
	height: 0;
	vertical-align: top;
	border-top: 1px solid #42477C;
	content: "";
}



.layout_a img,
.layout_b img,
.layout_c img,
.layout_d img{
	width:100%;
	display:block;
	margin:0 0 1em;
}

.layout_a .left_cont {
	width: 57.5%;
	padding: 0 0 30px 0;
	text-align:left;
	float: left;
}

.layout_a .right_cont {
	width: 38.5%;
	padding: 0 0 30px 0;
	float: right;
	text-align: left;
}

.layout_b .left_cont {
	width: 45.5%;
	padding: 0 0 30px 0;
	float: left;
	text-align:left;
}

.layout_b .right_cont {
	width: 45.5%;
	padding: 0 0 30px 0;
	float: right;
	text-align: left;
}

.layout_c .left_cont {
	width: 45.5%;
	padding: 0 0 30px 0;
	float: left;
	text-align:left;
}

.layout_c .right_cont {
	width: 50%;
	padding: 0 0 30px 0;
	float: right;
	text-align: left;
}

.layout_d .left_cont {
	width: 25.5%;
	padding: 0 0 10px 0;
	float: left;
	text-align:left;
}

.layout_d .right_cont {
	width: 70%;
	padding: 0 0 10px 0;
	float: right;
	text-align: left;
}


.layout_a .txt_ttl,
.layout_b .txt_ttl,
.layout_c .txt_ttl,
.layout_d .txt_ttl{
	font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "HG明朝B", "ＭＳ 明朝", "MS PMincho", serif;
	font-size: 1.8em;
}


#season_spring .color_txt,
#season_spring .txt_ttl {
	color:#912264 !important;
	margin:0 0 0.5em 0;
}

#season_summer .color_txt,
#season_summer .txt_ttl {
	color:#CC2B2B !important;
	margin:0 0 0.5em 0;
}

#season_autumn .color_txt,
#season_autumn .txt_ttl {
	color:#7F5B43 !important;
	margin:0 0 0.5em 0;
}

#season_winter .color_txt,
#season_winter .txt_ttl {
	color:#7F5B43 !important;
	margin:0 0 0.5em 0;
}

.areatxt {
	margin:1em 0;
}




/*--------------------------------------------------------------
ようこそ奈良へ
--------------------------------------------------------------*/


.welcome {
	margin:0 0 2em 0;
	background:url(../img/welcome/bg_welcome.jpg) 0 0 ;
}

.welcome .left_cont {
	width:59%;
	box-sizing:border-box;
}


.welcome .right_cont {
	width:37%;
	box-sizing:border-box;
}

.welcome .right_cont img{
	width: 100%;
	height:auto;
	margin: 20px auto;
	display: block;
}

#welcome_layout .col4 img{
	width:100%;
	height:auto;
	display:block;
	margin:0 0 1em 0;
}

body#spring #welcome_layout .col4 .mds,
body#summer #welcome_layout .col4 .mds,
body#autumn #welcome_layout .col4 .mds,
body#winter #welcome_layout .col4 .mds{
	font-size:1.6em;
	font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "HG明朝B", "ＭＳ 明朝", "MS PMincho", serif;
	min-height: 2em;
	vertical-align: bottom;
	padding: 0 0 0.5em 0;
	display: inline-block;
}
body#spring #welcome_layout .col4 .mds {
	color: #912264;
}
body#summer #welcome_layout .col4 .mds {
	color: #CC2B2B;
}
body#autumn #welcome_layout .col4 .mds {
	color: #D75730;
}
body#winter #welcome_layout .col4 .mds {
	color: #D75730;
}


#welcome_layout a.col4  {
	color:rgba(0,0,0,1);
	text-decoration: none;
}
#welcome_layout a.col4:hover {
	color:rgba(0,0,0,0.5);
}

body#spring #welcome_layout .mds_middle_half,
body#summer #welcome_layout .mds_middle_half,
body#autumn #welcome_layout .mds_middle_half,
body#winter #welcome_layout .mds_middle_half{
	margin: 0 0 1em;
	padding:0;
	font-size: 2em;
	text-align: center;
	display:inline-block;
	position: relative;
	font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "HG明朝B", "ＭＳ 明朝", "MS PMincho", serif;
}
body#spring #welcome_layout .mds_middle_half {
	color:#912264;
}
body#summer #welcome_layout .mds_middle_half {
	color:#CC2B2B;
}
body#autumn #welcome_layout .mds_middle_half {
	color: #D75730;
}
body#autumn #welcome_layout .mds_middle_half {
	color: #875AA4;
}


body#spring #welcome_layout .mds_middle_half:after,
body#summer #welcome_layout .mds_middle_half:after,
body#autumn #welcome_layout .mds_middle_half:after,
body#winter #welcome_layout .mds_middle_half:after{
	position: absolute;
	top: 50%;
	right:-2.5em;
	width: 2em;
	height: 0;
	vertical-align: top;
	content: "";
}
body#spring #welcome_layout .mds_middle_half:after {
	border-top: 1px solid #912264;
}
body#summer #welcome_layout .mds_middle_half:after {
	border-top: 1px solid #CC2B2B;
}
body#autumn #welcome_layout .mds_middle_half:after {
	border-top: 1px solid #D75730;
}
body#winter #welcome_layout .mds_middle_half:after {
	border-top: 1px solid #875AA4;
}


body#spring #welcome_layout .mds_middle,
body#summer #welcome_layout .mds_middle,
body#autumn #welcome_layout .mds_middle,
body#winter #welcome_layout .mds_middle{
	margin: 0 auto 1em;
	font-size: 2em;
	text-align: center;
	display:inline-block;
	position: relative;
	font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "HG明朝B", "ＭＳ 明朝", "MS PMincho", serif;
}
body#spring #welcome_layout .mds_middle {
	color:#912264;
}
body#summer #welcome_layout .mds_middle {
	color:#CC2B2B;
}
body#autumn #welcome_layout .mds_middle {
	color:#D75730;
}
body#winter #welcome_layout .mds_middle {
	color:#D75730;
}


body#spring #welcome_layout .mds_middle:before,
body#summer #welcome_layout .mds_middle:before,
body#autumn #welcome_layout .mds_middle:before,
body#winter #welcome_layout .mds_middle:before{
	position: absolute;
	top: 50%;
	left:-4em;
	width: 3em;
	height: 0;
	vertical-align: top;
	content: "";
}
body#spring #welcome_layout .mds_middle:before {
	border-top: 1px solid #912264;
}
body#summer #welcome_layout .mds_middle:before {
	border-top: 1px solid #CC2B2B;
}
body#autumn #welcome_layout .mds_middle:before {
	border-top: 1px solid #D75730;
}
body#winter #welcome_layout .mds_middle:before {
	border-top: 1px solid #875AA4;
}


body#spring #welcome_layout .mds_middle:after,
body#summer #welcome_layout .mds_middle:after,
body#autumn #welcome_layout .mds_middle:after,
body#winter #welcome_layout .mds_middle:after{
	position: absolute;
	top: 50%;
	right:-4em;
	width: 3em;
	height: 0;
	vertical-align: top;
	content: "";
}
body#spring #welcome_layout .mds_middle:after {
	border-top: 1px solid #912264;
}
body#summer #welcome_layout .mds_middle:after {
	border-top: 1px solid #CC2B2B;
}
body#autumn #welcome_layout .mds_middle:after {
	border-top: 1px solid #D75730;
}
body#winter #welcome_layout .mds_middle:after {
	border-top: 1px solid #875AA4;
}




body#spring #welcome_layout .faq,
body#summer #welcome_layout .faq,
body#autumn #welcome_layout .faq,
body#winter #welcome_layout .faq {
	text-align: left;
}

body#spring #welcome_layout .faq dt,
body#summer #welcome_layout .faq dt,
body#autumn #welcome_layout .faq dt,
body#winter #welcome_layout .faq dt {
	margin:0 0 1em 0;
	clear: both;
	overflow: hidden;
}

body#spring #welcome_layout .faq dt .thumb,
body#summer #welcome_layout .faq dt .thumb,
body#autumn #welcome_layout .faq dt .thumb,
body#winter #welcome_layout .faq dt .thumb {
	width: 8%;
	display: inline-block;
}

body#spring #welcome_layout .faq dt .thumb img,
body#summer #welcome_layout .faq dt .thumb img,
body#autumn #welcome_layout .faq dt .thumb img,
body#winter #welcome_layout .faq dt .thumb img {
	width:100%;
	height:auto;
}


body#spring #welcome_layout .faq dt .ftxt,
body#summer #welcome_layout .faq dt .ftxt,
body#autumn #welcome_layout .faq dt .ftxt,
body#winter #welcome_layout .faq dt .ftxt{
	width: 90%;
	font-family: "游明朝", "YuMincho", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "HG明朝B", "ＭＳ 明朝", "MS PMincho", serif;
	font-size: 1.4em;
	padding: 0 0 0 2%;
	vertical-align: middle;
	display: inline-block;
}
body#spring #welcome_layout .faq dt .ftxt {
	color: #912264;
}
body#summer #welcome_layout .faq dt .ftxt {
	color: #CC2B2B;
}
body#autumn #welcome_layout .faq dt .ftxt {
	color: #D75730;
}
body#winter #welcome_layout .faq dt .ftxt {
	color: #D75730;
}



body#spring #welcome_layout .faq dd,
body#summer #welcome_layout .faq dd,
body#autumn #welcome_layout .faq dd ,
body#winter #welcome_layout .faq dd {
	margin: 0 0 1.5em;
}

body#spring #welcome_layout .faq dd p{
	background: #FCF3F4;
	padding: 1em;
	position: relative;
}
body#summer #welcome_layout .faq dd p{
	background: #FBEEEE;
	padding: 1em;
	position: relative;
}
body#autumn #welcome_layout .faq dd p{
	background: #FFF8E9;
	padding: 1em;
	position: relative;
}
body#winter #welcome_layout .faq dd p{
	background: #FFF8E9;
	padding: 1em;
	position: relative;
}


body#spring #welcome_layout .faq dd p:before,
body#summer #welcome_layout .faq dd p:before,
body#autumn #welcome_layout .faq dd p:before,
body#winter #welcome_layout .faq dd p:before{
	position: absolute;
	top: -8px;
	left: 4%;
	display: block;
	width: 0;
	height: 0;
	margin-left: -8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	content: "";
}
body#spring #welcome_layout .faq dd p:before{
	border-bottom: 8px solid #FCF3F4;
}
body#summer #welcome_layout .faq dd p:before{
	border-bottom: 8px solid #FBEEEE;
}
body#autumn #welcome_layout .faq dd p:before{
	border-bottom: 8px solid #FFF8E9;
}
body#winter #welcome_layout .faq dd p:before{
	border-bottom: 8px solid #FFF8E9;
}



.bgmain_welcome {
	width:100%;
	z-index:200;
	position: absolute;
	top: 185px;
}

#mainimg_welcome {
	margin:-25px 0 1.5em;
}

#mainimg_welcome img{
	width:100%;
}

/*--------------------------------------------------------------
サイトポリシー・リンクについて
--------------------------------------------------------------*/
h4.mds_sub{
	margin:0 0 0 0;
	padding:0;
	font-weight:bold;
}
ul.normallist{
	margin:0 0 20px 20px;
}
body#spring ul.normallist li{
	margin:0 0 10px 10px;
	padding:0 0 0 0px;
	list-style-type : square;
	color:#912264;
}
body#summer ul.normallist li{
	margin:0 0 10px 10px;
	padding:0 0 0 0px;
	list-style-type : square;
	color:#CC2B2B;
}
body#autumn ul.normallist li{
	margin:0 0 10px 10px;
	padding:0 0 0 0px;
	list-style-type : square;
	color:#D75730;
}
body#winter ul.normallist li{
	margin:0 0 10px 10px;
	padding:0 0 0 0px;
	list-style-type : square;
	color:#5A3D6D
	;
}
ul.normallist li span{
	color:#000;
}
.tbl_banner{
	border-top: 1px solid rgba(204, 204, 204, 1);
	margin: 0 0 1em 0;
	border-collapse:collapse;
}
.tbl_banner .note{
	font-weight:normal;
}
.tbl_banner th,
.tbl_banner td {
	border-top: none;
	border-bottom: 1px solid rgba(204, 204, 204, 1);
	margin:0;
	padding:10px 5px;
}
.tbl_banner th.banner_size,
.tbl_banner td.banner_size{
	width:10%;
	text-align:center;
}
.tbl_banner th.banner_img,
.tbl_banner td.banner_img{
	width:30%;
	text-align:center;
}

