@import "~bootstrap/scss/bootstrap";
@import "./assets/styles/variables";
@import "./assets/styles/global";

body {
	font-size: 14px;

	.btn,
	.form-control,
	.form-select {
		font-size: 14px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

.translate {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 !important;
	position: relative;
	z-index: 3;
	.content {
		background-color: $secondary;
		padding: 0.5rem 2rem;
		display: inline-flex;
		align-items: center;
		border-radius: 0 0 1.25rem 1.25rem;
		.fa-language {
			margin-right: 1rem;
		}
		.btn {
			border-radius: 0;
			position: relative;

			&:focus {
				box-shadow: none;
			}
			&.active {
				font-weight: bold;
				&:after {
					content: "";
					width: 70%;
					position: absolute;
					bottom: 0;
					height: 2px;
					background-color: black;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}

body#spring {
	--primary: linear-gradient(
		to right,
		rgba(179, 52, 133, 1) 0%,
		rgba(144, 33, 100, 1) 100%
	);
	--text-color: #8b2360;
	--border-color: #902164;
}
body#summer {
	--primary: linear-gradient(
		to right,
		rgba(224, 63, 63, 1) 0%,
		rgba(204, 43, 43, 1) 100%
	);
	--text-color: #cc2b2b;
	--border-color: #cc2b2b;
}
body#autumn {
	--primary: linear-gradient(
		to right,
		rgba(215, 87, 48, 1) 0%,
		rgba(185, 70, 36, 1) 100%
	);
	--text-color: #d75730;
	--border-color: #b94624;
}
body#winter {
	--primary: linear-gradient(
		to right,
		rgba(135, 90, 164, 1) 0%,
		rgba(90, 61, 109, 1) 100%
	);
	--text-color: #5a3d6d;
	--border-color: #5a3d6d;
}

/* Seasons Color */

.bg.nara-season {
	background: var(--primary);
	color: white;
}

.secondary-bg {
	background-color: $secondary;
	border-color: $secondary;
	outline: none;
	box-shadow: none;

	&:hover,
	&:focus,
	&:active {
		background-color: $secondary;
		border-color: $secondary;
		outline: none;
		box-shadow: none;
	}
}

.bg-before.nara-season:before {
	background: var(--primary);
	color: white;
}

.font.nara-season {
	color: var(--text-color);
}

.bordered.nara-season {
	border-color: var(--border-color);
}

.breadcrumb {
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.breadcrumb a {
	text-decoration: none;
}

.breadcrumb .separator {
	margin: 0px 10px;
}
