html {
	--primary: #036;
	--text-color: #036;
	--border-color: #036;
}

@import "~bootstrap/scss/bootstrap";
@import "./assets/styles/variables";
@import "./assets/styles/global";

body {
	font-size: 14px;

	.btn,
	.form-control,
	.form-select {
		font-size: 14px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

.translate {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 !important;
	position: relative;
	z-index: 3;
	.content {
		background-color: $secondary;
		padding: 0.5rem 2rem;
		display: inline-flex;
		align-items: center;
		border-radius: 0 0 1.25rem 1.25rem;
		.fa-language {
			margin-right: 1rem;
		}
		.btn {
			border-radius: 0;
			position: relative;

			&:focus {
				box-shadow: none;
			}
			&.active {
				font-weight: bold;
				&:after {
					content: "";
					width: 70%;
					position: absolute;
					bottom: 0;
					height: 2px;
					background-color: black;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}

ul {
	padding-left: 0 !important;
	margin-bottom: 0;
}

p {
	margin-bottom: 0;
}

.js-modal__bg {
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}
.js-modal__main {
	width: 260px;
	height: 90px;
	margin-left: -150px;
	padding: 20px;
	top: 30%;
	left: 50%;
	background: #fff;
	border-radius: 5px;
	position: absolute;
}
.js-modal__btn {
	cursor: pointer;
	padding-top: 31px;
}
.js-modal__btn small {
	font-size: 12px;
}

.js-modal__btn--close {
	width: 30px;
	height: 30px;
	background: #333;
	border-radius: 50%;
	position: absolute;
	top: -10px;
	right: -6px;
	z-index: 101;
	cursor: pointer;
}
.js-modal__btn--close:before {
	content: "";
	width: 20px;
	height: 20px;
	border-right: 2px solid #fff;
	transform: rotate(-45deg);
	position: absolute;
	top: 12px;
	left: -3px;
}
.js-modal__btn--close:after {
	content: "";
	width: 20px;
	height: 20px;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
	position: absolute;
	top: -2px;
	left: -3px;
}

div:after {
	display: none;
}

.primary-bg {
	background-color: var(--primary) !important;
	border-color: var(--primary) !important;
	background: none;
	color: #fff;
	&:hover {
		background-color: var(--primary) !important;
	}
}
